<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="weather">
    <div>
        <h2>Current Weather for {{ time }}</h2>
        <li> The current temperature is: {{ temperature }}F</li>
        <li> The current weather condition is: {{ conditions }}</li>
        <li> The current humidity is: {{ humidity }}%</li>
        <li> The current pressure in hPa is: {{ pressure }}</li>
    </div>
</div>

<div id="forecast">
    <div>
        <h2>5 Day Forecast</h2>
        <h3> {{ date[0] }} Weather</h3>
        <!--<h3>Temperature </h3>-->
        <!--<ul>-->
        <!--<li v-for="temp in fTemp">-->
        <!--{{ fTemp[0] }}F-->
        <!--</li>-->
        <!--</ul>-->
        <li> Temp: {{ fTemp[0] }}F</li>
        <li> Condition: {{ fCond[0] }}</li>
        <li> Humidity: {{ fHum[0] }}%</li>
        <li> Pressure: in hPa {{ fPre[0] }}</li>
    </div>
    <div>
        <h3> {{ date[1] }} Weather</h3>
        <li> Temp: {{ fTemp[1] }}F</li>
        <li> Condition: {{ fCond[1] }}</li>
        <li> Humidity: {{ fHum[1] }}%</li>
        <li> Pressure in hPa: {{ fPre[1] }}</li>
    </div>
    <div>
        <h3> {{ date[2] }} Weather</h3>
        <li> Temp: {{ fTemp[2] }}F</li>
        <li> Condition: {{ fCond[2] }}</li>
        <li> Humidity: {{ fHum[2] }}%</li>
        <li> Pressure in hPa: {{ fPre[2] }}</li>
    </div>
    <div>
        <h3> {{ date[3] }} Weather</h3>
        <li> Temp: {{ fTemp[3] }}F</li>
        <li> Condition: {{ fCond[3] }}</li>
        <li> Humidity: {{ fHum[3] }}%</li>
        <li> Pressure in hPa: {{ fPre[3] }}</li>
    </div>
    <div>
        <h3> {{ date[4] }} Weather</h3>
        <li> Temp: {{ fTemp[4] }}F</li>
        <li> Condition: {{ fCond[4] }}</li>
        <li> Humidity: {{ fHum[4] }}%</li>
        <li> Pressure in hPa: {{ fPre[4] }}</li>
    </div>
</div>

<script src="vue.js"></script>
</body>

</html>
