.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 300 px;
    height: 30 px;
}
.div
{
    border-style: solid;
    border-color: black;
}
#parent
{
    flex-direction: row;
}